<mat-toolbar color="primary">
   <mat-toolbar-row>
      <button mat-icon-button class="menu">
         <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>Bookmarks</h1>
      <dialogBox [config]="addDialogConfig"></dialogBox>      
   </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="content">
   <mat-drawer mode="side" #sidenav>
      <div *ngFor="let group of groups" (click)="loadBookmark(group)" class="item" [ngClass]="{'active':isActive(group)}">
      <mat-icon mat-list-icon class="bookmark-icon">bookmark</mat-icon>
      <h4>{{group}}</h4>
      </div>
   </mat-drawer>
   <mat-drawer-content *ngIf="sidenav.opened">
      <common-table [config]="bookmarkTableConfig"></common-table>
   </mat-drawer-content>
</mat-drawer-container>