h1 {
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     color:white;
}
 h2 {
     font-weight: bold;
     margin: 10px 10px 0px 10px;
}
 h3 {
     margin: 0;
     padding: 0;
     font-weight: bold;
     color:#e6a80e;
}
 h4 {
     margin-left: 5px;
}
 .space {
     flex: 1 1 auto;
}
 .content {
     margin: 1% 1%;
     border: 1px solid #8080806b;
}
 .bookmark-icon {
     color:#9c27b0;
}
 .item {
     display: flex;
     margin: 10px 10px -10px 10px;
     cursor: pointer;
}
 .active {
     font-weight: bold;
     color: #d83f87;
}
 mat-drawer {
     min-height: 400px;
}
 mat-drawer-content {
     min-height: 400px;
}
