<table mat-table [dataSource]="config.data" class="mat-elevation-z8">
   <ng-container *ngFor="let column of config.columns" matColumnDef="{{column.field}}">
      <th mat-header-cell *matHeaderCellDef>
         <h3>{{column.header}}</h3>
      </th>
      <td mat-cell *matCellDef="let row"> {{row[column.field]}} </td>
   </ng-container>
   <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
         <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
         </button>
         <mat-menu #menu="matMenu">
            <dialogBox [config]="config.editDialogConfig" [data]="row"></dialogBox>       
            <dialogBox [config]="config.deleteDialogConfig" [data]="row"></dialogBox>          
         </mat-menu>
      </td>
   </ng-container>
   <tr mat-header-row *matHeaderRowDef="config.displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: config.displayedColumns;"></tr>
</table>