<button *ngIf="config.type === 'template' && config.attribute === 'mat-icon-button'" mat-icon-button (click)="openDialog()">
    <mat-icon color="{{config.fontIconColor}}" matTooltip="{{config.tooltip}}">{{config.fontIcon}}</mat-icon>
</button>

<button *ngIf="config.type === 'message' && config.attribute === 'mat-icon-button'" mat-icon-button (click)="openMessageDialog()">
    <mat-icon color="{{config.fontIconColor}}" matTooltip="{{config.tooltip}}">{{config.fontIcon}}</mat-icon>
</button>

<button *ngIf="config.type === 'template' && config.attribute === 'mat-menu-item'" mat-menu-item (click)="openDialog()">
   <mat-icon color="{{config.fontIconColor}}" matTooltip="{{config.tooltip}}">{{config.fontIcon}}</mat-icon>{{config.text}}
</button>

<button *ngIf="config.type === 'message' && config.attribute === 'mat-menu-item'" mat-menu-item (click)="openMessageDialog()">
    <mat-icon color="{{config.fontIconColor}}" matTooltip="{{config.tooltip}}">{{config.fontIcon}}</mat-icon>{{config.text}}
</button>
